body {
  margin: 0;
}

.upper-bar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 3px;
}

p {
  margin-left: 10px;
  font-weight: 700;
  color: aliceblue;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  height: 90.59vh;

  justify-content: center;
  align-items: center;
}

.title {
  font-size: 80px;
  font-weight: 1000;
}

.content-1 {
  background-color: white;
}

.content-2 {
  background-color: rgb(102, 200, 233);
}

.content-3 {
  background-color: rgb(103, 93, 93);
}

.content-4 {
  background-color: red;
}

.bar1 {
  background-color: red;
}

.bar2 {
  background-color: darkblue;
}

.bar3 {
  background-color: black;
}

.bar4 {
  background-color: brown;
}
