h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  background-color: lightblue;
}

.case-list li:hover,
.case-list li:hover a {
  color: rgb(87, 201, 239);
}

.container {
  margin-left: 500px;
  border: 1px solid black;
  border-radius: 12px;
  width: 500px;
  height: 500px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
}

a[target="_blank"] {
  color: black;
  text-decoration: none;
}
